<!-- <h1>Listing tasks</h1>

<table>
  <thead>
    <tr>
      <th>Done</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.done %></td>
        <td><%= task.description %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>

-->


<div class='container-fluid'>
  <div class='row-fluid' id='content-wrapper'>
    <div class='spantodolist'>
    </div>

    <div class='span12'>
      <div class='page-header'>
        <h3 class='pull-left'>
          <i class='icon-comments'></i>
          <span>Todo list</span>
        </h3>

      </div>
    </div>


    <div class='row-fluid'>
      <div class='span12 box'>
        <div class='row-fluid todo-list'>
          <div class='span12 box box-nomargin'>
            <div class='box-content box-no-padding'>
              <div class='sortable-container'>
                <%= form_for :task, html: { class: "new-todo" } do |f| %>
                  <%= f.text_field :description, placeholder:"Type your new todo here...", class: "span12" %>
                  <button class='btn btn-success' type='submit'>
                    <i class='icon-plus'></i>
                  </button>
              <% end %>
              <div class='date text-contrast'>Todo</div>
              <ul class='unstyled sortable' data-sortable-axis='y' data-sortable-connect='.sortable'>
                <% if @tasks.where(done: [false, nil]).count == 0 %>
                  <li class="item">Nothing to do..!</li>
                <% end %>
                <% @tasks.where(done: [false, nil]).each do |task| %>
                  <li class="item">
                  <span class="pull-left todo">
                    <%= form_for task, html: {class: "form-inline"} do |f| %>
                      <%= f.hidden_field :done, value: true %>
                      <%= f.button "Done!", class: "btn btn-primary btn-mini" %>
                      <%= task.description %>
                    <% end %>
                  </span>
                  <div class='actions pull-right'>
                    <%= link_to task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link remove has-tooltip", title: "Remove Todo" do %>
                      <i class='icon-remove'></i>
                    <% end %>
                  </div>
                  </li>
                <% end %>
              </ul>
              <div class='date text-contrast'>Done</div>
              <ul class='unstyled sortable' data-sortable-axis='y' data-sortable-connect='.sortable'>
                <% if @tasks.where(done: true).count == 0 %>
                  <li class="item">Nothing done (yet!)</li>
                <% end %>

                <% @tasks.where(done: true).each do |task| %>
                  <li class="item done">
                  <span class="pull-left todo">
                    <%= form_for task, html: {class: "form-inline"} do |f| %>
                      <%= f.hidden_field :done, value: false %>
                      <%= f.button "Undone!", class: "btn btn-primary btn-mini" %>
                      <%= task.description %>
                    <% end %>
                  </span>
                  <div class='actions pull-right'>
                    <%= link_to task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link remove has-tooltip", title: "Remove Todo" do %>
                      <i class='icon-remove'></i>
                    <% end %>
                  </div>
                  </li>
                <% end %>
            </div>    
            <!-- 'sortable-container' -->
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>