    <div class='container-fluid'> 
        <div class='row-fluid' id='content-wrapper'> 
            <div class='span12'> 
                <div class='page-header'> 
                    <h3 class='pull-left'> 
                        <i class='icon-user'></i> 
                        <span><%= @user.email %> (<%= @user.profile.display_name %>) </span> 
                    </h3>           
                </div> 
                <div class='row-fluid'> 
                    <div class='span3 box'> 
                        <div class='box-content'>
                            <%= image_tag @user.profile.avatar.url(:thumb) %>
                        </div> 
                        <div>
                            <% if current_user.id == @user.id %>
                                <%= link_to "It's you!", '#', class: 'btn btn-primary disabled' %>
                            <% elsif @user.followers.include? current_user %>
                                <%= link_to "unfollow" , unfollow_user_path(@user), method: :delete, class: "btn btn-primary" %>
                            <% else %>
                                <%= link_to "follow" , follow_user_path(@user), method: :post, class: "btn btn-primary" %>
                            <% end %>
                        </div>
                    </div> 
                    <div class='span9 box'> 
                        <div class='box-content box-double-padding'> 
                            <form class='form' style='margin-bottom: 0;' /> 
                                <fieldset> 
                                    <div class='span4'> 
                                        <div class='lead'> 
                                            <i class='icon-signin text-contrast'></i> 
                                            Login info
                                        </div> 
                                        
                                    </div> 
                                    <div class='span7 offset1'> 
                                        <div class='control-group'> 
                                            <label class='control-label'><h3>E-mail</h3></label> 
                                            <%= @user.email %> 
                                        </div> 
                                        <div class='control-group'> 
                                            <label class='control-label'><h3>Password</h3></label> 
                                            ******
                                        </div> 
                                        <hr class='hr-normal' /> 
                                        
                                        
                                    </div> 
                                </fieldset> 
                                <hr class='hr-normal' /> 
                                <fieldset> 
                                    <div class='span4 box'> 
                                        <div class='lead'> 
                                            <i class='icon-user text-contrast'></i> 
                                            Personal info
                                        </div> 
                                        
                                    </div> 
                                    <div class='span7 offset1'> 
                                        <div class='control-group'> 
                                            <label class='control-label'>Display name</label> 
                                            <%= @user.profile.display_name %>
                                        </div> 

                                        <div class='control-group'> 
                                            <label class='control-label'>Gender</label> 
                                            <%=  @user.profile.gender %>
                                        </div> 
                                        <div class='control-group'> 
                                            <label class='control-label'>Age</label>
                                            <% if @user.profile.birth_date %> 
                                                <%= time_ago_in_words @user.profile.birth_date %>
                                            <% else %>
                                                No birth date!
                                            <% end %>
                                        </div> 

                                        <hr /> 

                                    </div> 
                                </fieldset>
                                <% if current_user.id == @user.id %>
                                    <div class='form-actions' style='margin-bottom: 0;'> 
                                        <div class='text-right'> 
                                            <div class='btn btn-primary btn-large'>
                                              <%= link_to edit_user_registration_path do %>
                                                Edit
                                                <% end %>
                                            </div> 
                                        </div> 
                                    </div>
                                <% end %>
                            </form> 
                        </div> 
                    </div> 
                </div> 
            </div> 
        </div> 
    </div> 
